<li class="advantages__item js-accordion accordion">
  <div class="advantages__item-header js-accordion-header accordion__header">
    <p class="accordion__title">
      <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1H19V19" stroke="#1D1D1D"/>
        <path d="M19 1L1 19" stroke="#1D1D1D"/>
      </svg>
      <span>@@title</span>
    </p>
    <div class="advantages__item-content accordion__content js-accordion-content">
      <p class="advantages__item-text accordion__text">@@text</p>
      <div class="advantages__item-img accordion__img">
        <img src="img/@@image" alt="@@title">
      </div>
    </div>
  </div>
</li>