<div class="swiper-slide blog-slide">
  <div class="blog-slide__img">
    <img src="img/@@image.webp" alt="@@title">
  </div>
  <div class="blog-slide__info">
    <h3 class="blog-slide__title">@@title</h3>
    <p class="blog-slide__date">@@date</p>
    <p class="blog-slide__preview">@@preview</p>
    <a class="blog-slide__link link _underline" href="@@link" target="_blank">Читать</a>
    <a href="https://vc.ru/u/1578780-vladislav-sannikov-x-ypa" target="_blank" class="blog-slide__vc blog-slide__vc-desk link secondary">
      VC.RU
      <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 1.22949H11.5V12.2295" stroke="#1D1D1D"/>
        <path d="M11.5 1.22949L0.5 12.2295" stroke="#1D1D1D"/>
      </svg>



    </a>
  </div>
</div>