<li class="process__item js-accordion accordion">
  <div class="process__item-header js-accordion-header-2 accordion__header">
    <p class="process__item-title accordion__title">
      <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1H19V19" stroke="#1D1D1D"/>
        <path d="M19 1L1 19" stroke="#1D1D1D"/>
      </svg>
      <span>@@title</span>
      <span>@@index</span>
    </p>
    <div class="process__item-content accordion__content js-accordion-content">
      <p class="process__item-text">
        @@text
      </p>
    </div>
  </div>
</li>