<div class="modal modal--form">
    <div class="modal__bg _close-modal"></div>

    <div class="modal__dialog">
        <button type="button" class="_close-modal modal__close" aria-label="Close">
            <svg viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73 73L3 3" stroke="white" stroke-width="6"/>
                <path d="M3 73L73 3" stroke="white" stroke-width="6"/>
            </svg>
        </button>
        <div class="modal__inner js-modal-content">
            <div class="modal__title">
                <span>let’s </span>
                <span>talk;)</span>
            </div>
            <form class="modal__form form js-modal-form" action="" method="post" name="modal_form" id="modal-form">
                <label class="form__label">
                    <input class="form__input form__input-light js-modal-input" id="modal-name" name="name" type="text" placeholder="Имя">
                </label>
                <label class="form__label">
                    <input class="form__input form__input-light js-modal-input" id="modal-email" name="email" type="email" placeholder="E-mail">
                </label>
                <label class="form__label">
                    <input class="form__input form__input-light js-modal-input" id="modal-phone" name="phone" type="tel" placeholder="Телефон">
                </label>
                <button class="modal__btn button button__light" type="submit" id="js-modal-submit">
                    <span>Оставить заявку</span>
                </button>
            </form>
        </div>
    </div>
</div>
