<div class="gallery">
    <div class="gallery__big swiper mySwiper2">
        <div class="swiper-wrapper gallery-group">
            <div class="swiper-slide">
                <a href="img/">
                    <img src="img/" />
                </a>
            </div>
        </div>
    </div>
    <div thumbsSlider="" class="gallery__small swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/" />
            </div>
        </div>
    </div>
</div>
