  <div class="footer__inner">
    <div class="footer__logo">
      <img src="img/logo-light.svg" alt="Your Personal Agent Technology">
    </div>
    <nav class="footer__nav">
      <div class="footer__nav-col">
        <ul class="footer__list">
          <li class="footer__item"><span>E-mail</span></li>
          <li class="footer__item"><a href="mailto:info@ypacrew.tech">info@ypacrew.tech</a></li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item"><span>telephone</span></li>
          <li class="footer__item"><a href="tel:+79997350902">+7 999 735-09-02</a></li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <ul class="footer__list">
          <li class="footer__item"><span>Socials</span></li>
          <li class="footer__item"><a href="https://t.me/ypacrew" target="_blank">telegram</a></li>
          <li class="footer__item"><a href="https://wa.me/79997350902" target="_blank">whatsapp</a></li>
          <li class="footer__item"><a href="https://www.linkedin.com/company/ypacrew/" target="_blank">linkedin</a></li>
          <li class="footer__item"><a href="https://vc.ru/u/1578780-vladislav-sannikov-x-ypa" target="_blank">vc.ru</a></li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <ul class="footer__list">
          <li class="footer__item"><a href="#service">услуги</a></li>
          <li class="footer__item"><a href="#team">команда</a></li>
          <li class="footer__item"><a href="#process">процесс</a></li>
          <li class="footer__item"><a href="#feedback">отзывы</a></li>
          <li class="footer__item"><a href="#blog">блог</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer__eleven">
      <a href="https://www.behance.net/alsuka" target="_blank">
        <img src="img/alsu-logo.svg" alt="Alsu Safina">
      </a>
      <a href="https://the-eleven.studio/" target="_blank">
        <img src="img/eleven-logo.svg" alt="The Eleven Studio">
      </a>
    </div>
    <p class="footer__cr">Copyright ©Your Personal Agent, 2023</p>
  </div>
