<div class="header__inner">
    <a href="/" class="header__logo">
        <img src="img/logo-dark.svg" alt="Your Personal Agent Technology">
    </a>

    <div class="menu">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a href="#service" class="nav__link">услуги</a>
                    <a href="#team" class="nav__link">команда</a>
                    <a href="#process" class="nav__link">процесс</a>
                </li>
                <li>
                    <a href="#feedback" class="nav__link">отзывы</a>
                    <a href="#blog" class="nav__link">блог</a>
                    <a href="#contacts" class="nav__link">контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a target="_blank" href="https://t.me/ypacrew">
                <img src="img/tg-icon.svg" alt="Telegram">
            </a>
            <a href="callto:+7 999 735-09-02">
                <img src="img/phone-icon.svg" alt="Phone">
            </a>
        </div>
    </div>


    <button class="burger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>
