$main-font:'Vela Sans', sans-serif;

$black: #1D1D1D;
$blue:#64C6F3;
$grey: #F5F5F5;
$grey-2: #777777;
$pink:#FFBFBF;
$red:#FF6575;
$red-text:#FF0000;
$red-border:#FF2E00;
$ultramarine: #3F53D9;
$white: #FFFFFF;
$yellow: #FFD02F;